/* Formulario de Contacto */
.form-contact{    
    padding: 50px 35px 35px 35px;
    background-color: #fff;
    border-radius: 10px;
}
/* Label /a/p/l texto estilizados en estas etiquetas */
.texto-contact{
  font-family: inherit;
  padding: 0.3rem;
  color: rgba(0, 0, 0, 1.0);
}
/* Cajas de Texto */
/* <input class="entrada-contact"> <select class="seleccion-pais"> <textarea class="mensaje-contact">*/
.entrada-contact[type=text], .seleccion-pais, .mensaje-contact {
    width: 100%;
    padding: 12px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
.entrada-contact[type=text]::placeholder {
  color: rgba(73, 73, 199, 0.76);
  font-family: inherit;
}
.mensaje-contact{
    height:150px;    
}
.via-contacto{
    margin: 0 auto;
    border-style: none;
}
.via-contacto input[type=radio]{
    margin:.5em;
}
.mensaje-contact::placeholder{
  color: rgba(73, 73, 199, 0.76);
  font-family: Arial, Helvetica, sans-serif;
}
  .seleccion-pais{   
      background-color: transparent; 
      margin:0 auto;
      padding: 8px 12px;
      font-family: inherit;
      cursor: inherit;
      display: grid;
  }
  /* Boton de Enviar */
  .boton-enviar[type=submit] {
    background-color: #01a2ff;
    color: white;
    padding: 12px 45px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
  }
  
  .boton-enviar[type=submit]:hover {
    background-color: #302f8d;
    transition: 0.5s all;
    text-shadow:2px 2px 8px #fff;
    font-family: inherit;
    transform: scale(1.14);
  }
